.news-box-home{
  margin-top: 140px;
  .action-btn{
    text-align: center;
    margin-top: 40px;
  }
  .headBox{
    margin-bottom: 70px;
    .title{
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 74px;
      color: #282828;
    }
  }
}
