.TehnogysDiscription{
  .title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
  }
  .description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .item-chec{
    svg{
      margin-right: 20px;
    }
    span{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
    }
    margin-bottom: 20px;
  }
  .cerusel-img{
    margin-top: 60px;
  }
  .react-3d-carousel .slider-container .slider-left div{
    border: none;
    color: #282828;
  }
  .react-3d-carousel .slider-container .slider-right div{
    border: none;
    color: #282828;
  }
  .ing-curesel{

  }
}